
<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
  <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked dima-facultad='All'>
  <label class="btn btn-outline-primary" for="btnradio1">Todas las facultades</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" dima-facultad='Facultad de administración'>
  <label class="btn btn-outline-primary" for="btnradio2">Facultad de administración</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" dima-facultad='Facultad de ciencias exactas y naturales'>
  <label class="btn btn-outline-primary" for="btnradio3">Facultad de ciencias exactas y naturales</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off" dima-facultad='Facultad de ingeniería y arquitectura'>
  <label class="btn btn-outline-primary" for="btnradio4">Facultad de ingeniería y arquitectura</label>
</div>
<div class="row">
    <div class="col-sm-12 bg-white rounded">
        <div id="chart1"></div>
    </div>
    <div class="col-sm-6 bg-white rounded">
        <div id="chart2"></div>
    </div>
    <div class="col-sm-6 bg-white rounded">
        <div id="chart3"></div>
    </div>
    <div class="col-sm-12 bg-white rounded">
        <div id="chart4"></div>
    </div>
</div>
